.stat{
  border:1px solid lightgray;
  border-radius: 30px;
  line-height: 20px;
  background-color: rgb(241, 241, 241);
}
#values{
  border-radius: 50%;
  background-color: white;
  line-height: 50px;
  width: 50px;
  height: 50px;
}
