@import "../../../../../colors";
#navbarMobile,#navbar,#menu-button{
  background-color: $myGrey;
  border:none
}
#menu{
  color:$myRed;
  font-size:2em;
  font-weight:bold;
}
#logo{
  width: 150px;
}
li{
  list-style: none;
  font-size:12px;
}
.link{
  height:30px;
  line-height:30px;
  color:$myRed;
  text-decoration: none;
  font-weight:bold
}
.user{
  font-size: 30px;
}
#dropdown{
  transform-origin: right top;
  transform: translate(-72%,13%);
}
.dropdown-toggle::after {
  display: none;
}
