<div class="mt-2">
  <h2>{{spell.name}}</h2>
  <p>Classes: {{spell.pgClassList}}</p>
  <p>School: {{spell.school}}</p>
  <p>Level: {{spell.level}}</p>
  <p>Components: [
    <i *ngIf="spell.components[0]">V</i>
    <i *ngIf="spell.components[1]">S</i>
    <i *ngIf="spell.components[2]">M</i>
    ]
  </p>

  <p *ngIf="spell.materialCost.length!=0">Materials: {{spell.materialCost}}</p>
  <p>castTime: {{spell.castTime}}</p>
  <p>range: {{spell.range}}</p>
  <p>duration: {{spell.duration}}</p>
  <p>{{spell.description}}</p>
</div>
