<nav id="navbarMobile" class="navbar">
  <div class="container-fluid">
    <div id="logo-block" class=" w-100">
      <a class="navbar-brand w-25" routerLink="/home"><img id="logo" src="../../..../../assets/images/logo.png" alt="Logo"></a>
      <div id="tablet-block" class="w-100 justify-content-end">
        <div class="mt-1 mt-2 mb-0 mx-4">
          <input class="form-control m-0" (input)="search()" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="value" name="search">
          <button class="d-none" type="submit" (click)="search()"><i class="bi bi-search"></i></button>
        </div>
        <div id="menu-btn">
          <button id="menu-button" type="button" (click)="show=!show">
            <i id="menu" class="bi bi-list"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="phone-block" class="w-100 justify-content-between">
      <div class="mt-1 mt-2 mb-0 mx-4">
        <input class="form-control m-0" (input)="search()" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="value" name="search">
        <button class="d-none" type="submit" (click)="search()"><i class="bi bi-search"></i></button>
      </div>
      <button id="menu-button" type="button" (click)="show=!show">
        <i id="menu" class="bi bi-list"></i>
      </button>
    </div>
    <div [ngClass]="{'showHeight':show}" class="height-0 show w-100" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mt-2 mb-lg-0">
        <li class="text-start"><a id="home" class="link" routerLink="/home" (click)="show=!show">Home</a></li>
        <li class="text-start"><a class="link" routerLink="/characters" (click)="show=!show">My Characters</a></li>
        <li class="text-start"><a class="link" routerLink="/characters" (click)="show=!show">Preferred</a></li>
        <li class="text-start"><a class="link" routerLink="/characters" (click)="show=!show">Helps</a></li>
      </ul>
    </div>
  </div>

  <div id="login-ball" *ngIf="!logSystem" class="rounded-circle text-center border-red">
    <a class="nav-link" *ngIf="!logged" routerLink="/logSystem/login"><i class="bi bi-person"></i></a>
    <div *ngIf="logged" ngbDropdown placement="top-start">
      <div class="rounded-circle" id="dropdownBasic2" ngbDropdownToggle><i class="bi bi-person-fill"></i></div>
      <div id="dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <a (click)="logout()" ngbDropdownItem>Logout</a>
        <a routerLink="/profile" ngbDropdownItem>Profile</a>
      </div>
    </div>
  </div>
</nav>
