.password-div{
  position:relative;
}
.eyes{
  background-color: transparent;
  border:none;
  position:absolute;
  right: -3px;
  top:-28px;
  font-size:1.3em
}
#confirm{
  text-align: center;
  line-height: 36px;
  height: 40px;
  width: 40px;
  position:fixed;
  right: 10px;
  bottom:10px;
  font-size: 1.5em;
  z-index: 3;
  border-radius: 50%;
}
.form-control {
  &:focus, &:focus-visible {
    box-shadow: none;
  }
}
input{
  background-color: rgb(207 207 207);
}
.error-message{
  font-size: 12px;
}
#caps{
  position: absolute;
  top: 6px;
  right: 80px;
  z-index: 10;
}
