<form [formGroup]="form">
  <div class="mt-2">
    <label for="old-password">Old Password</label>
    <div class="password-div">
      <input class="form-control" id="old-password" [type]="input1" formControlName="oldPassword"
      [ngClass]="{'is-invalid': isNotValidAndTouched('oldPassword')}" tabindex="1">
      <button type="button" class="eyes" *ngIf="!eye1" (click)="switch1();eye1=!eye1"><i class="bi bi-eye-fill"></i></button>
      <button type="button" class="eyes" *ngIf="eye1" (click)="switch2();eye1=!eye1"><i class="bi bi-eye-slash-fill"></i></button>
      <div *ngIf="isNotValidAndTouched('oldPassword')" class="bg-warning rounded p-2 mt-1">
        <div *ngIf="form.get('newPassword')?.hasError('pattern')">
          Password must contain:
          <ul>
            <li>1 letter uppercase</li>
            <li>1 letter lowercase</li>
            <li>1 number</li>
            <li>1 special character</li>
            <li>Min 8 char</li>
          </ul>
        </div>
        <p class="m-0" *ngIf="!form.get('password')?.hasError('pattern')">{{emptyMessage}}</p>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <label for="new-password">New Password</label>
    <div class="password-div">
      <input class="form-control" id="new-password" [type]="input2" formControlName="newPassword"
      [ngClass]="{'is-invalid': isNotValidAndTouched('newPassword')}" tabindex="2">
      <button type="button" class="eyes" *ngIf="!eye2" (click)="switch2();eye2=!eye2"><i class="bi bi-eye-fill"></i></button>
      <button type="button" class="eyes" *ngIf="eye2" (click)="switch2();eye2=!eye2"><i class="bi bi-eye-slash-fill"></i></button>
      <div *ngIf="isNotValidAndTouched('newPassword')" class="bg-warning rounded p-2 mt-1">
        <div *ngIf="form.get('newPassword')?.hasError('pattern')">
          Password must contain:
          <ul>
            <li>1 letter uppercase</li>
            <li>1 letter lowercase</li>
            <li>1 number</li>
            <li>1 special character</li>
            <li>Min 8 char</li>
          </ul>
        </div>
        <p class="m-0" *ngIf="!form.get('password')?.hasError('pattern')">{{emptyMessage}}</p>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <label for="confirm-new-password">Confirm new password *</label>
    <div class="password-div">
      <input class="form-control" id="confirm-new-password" [type]="input3" formControlName="confirmNewPassword"
      [ngClass]="{'is-invalid': isNotValidAndTouched('confirmNewPassword')}" tabindex="3">
      <button type="button" class="eyes" *ngIf="!eye3" (click)="switch3();eye3=!eye3"><i class="bi bi-eye-fill"></i></button>
      <button type="button" class="eyes" *ngIf="eye3" (click)="switch3();eye3=!eye3"><i class="bi bi-eye-slash-fill"></i></button>
      <div *ngIf="isNotValidAndTouched('confirmNewPassword')" class="bg-warning rounded p-2 mt-1">
        <p class="m-0" *ngIf="getCustomMessage('confirmNewPassword')!=null">{{getCustomMessage('confirmNewPassword')}}</p>
        <p class="m-0" *ngIf="getCustomMessage('confirmNewPassword')==null">{{emptyMessage}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="wrong" class="bg-danger rounded p-2">Password wrong!</div>
  <div *ngIf="anotherProblem" class="bg-danger rounded px-2">Something Wrong!</div>
  <button id="confirm" [disabled]="!form.valid||loading" (click)="save()" class="bg-success text-white"><i class="bi bi-check-lg"></i></button>
</form>

