<form [formGroup]="form">
  <div class="mt-2">
    <label for="old-password">Old Password</label>
    <div class="password-div input-group">
      <input class="form-control rounded" id="old-password" [type]="input1" formControlName="oldPassword"
      [ngClass]="{'is-invalid': isNotValidAndTouched('oldPassword')}" tabindex="1" (keydown)="checkCapsLock($event)">
      <div class="ms-1 input-group-append">
        <span id="eye" class="input-group-text bgg-cr" (click)="switch1()">
          <i id="caps" *ngIf="capsLockActive" class="bi bi-capslock-fill"></i>
          <i class="bi bi-eye-fill" [ngClass]="{'bi-eye': input1 === 'password', 'bi-eye-fill': input1 === 'text'}"></i>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="isNotValidAndTouched('oldPassword')" class="error-message text-danger">
    <div *ngIf="form.get('newPassword')?.hasError('pattern')">
      Password must contain:
      <ul>
        <li>1 letter uppercase</li>
        <li>1 letter lowercase</li>
        <li>1 number</li>
        <li>1 special character</li>
        <li>Min 8 char</li>
      </ul>
    </div>
    <p class="m-0" *ngIf="!form.get('password')?.hasError('pattern')">{{emptyMessage}}</p>
  </div>

  <div class="mt-2">
    <label for="new-password">New Password</label>
    <div class="password-div input-group">
      <input class="form-control rounded" id="new-password" [type]="input2" formControlName="newPassword"
      [ngClass]="{'is-invalid': isNotValidAndTouched('newPassword')}" tabindex="2" (keydown)="checkCapsLock($event)">
      <div class="ms-1 input-group-append">
        <span id="eye" class="input-group-text bgg-cr" (click)="switch2()">
          <i id="caps" *ngIf="capsLockActive" class="bi bi-capslock-fill"></i>
          <i class="bi bi-eye-fill" [ngClass]="{'bi-eye': input2 === 'password', 'bi-eye-fill': input2 === 'text'}"></i>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="isNotValidAndTouched('newPassword')" class="error-message text-danger">
    <p class="m-0" *ngIf="getCustomMessage('newPassword')!=null">{{getCustomMessage('newPassword')}}</p>
    <div *ngIf="form.get('newPassword')?.hasError('pattern')">
      Password must contain:
      <ul>
        <li>1 letter uppercase</li>
        <li>1 letter lowercase</li>
        <li>1 number</li>
        <li>1 special character</li>
        <li>Min 8 char</li>
      </ul>
    </div>
    <p class="m-0" *ngIf="!form.get('password')?.hasError('pattern')&&getCustomMessage('newPassword')==null">{{emptyMessage}}</p>
  </div>

  <div class="mt-2">
    <label for="confirm-new-password">Confirm new password</label>
    <div class="password-div input-group">
      <input class="form-control rounded" id="confirm-new-password" [type]="input3" formControlName="confirmNewPassword"
      [ngClass]="{'is-invalid': isNotValidAndTouched('confirmNewPassword')}" tabindex="3" (keydown)="checkCapsLock($event)">
      <div class="ms-1 input-group-append">
        <span id="eye" class="input-group-text bgg-cr" (click)="switch3()">
          <i id="caps" *ngIf="capsLockActive" class="bi bi-capslock-fill"></i>
          <i class="bi bi-eye-fill" [ngClass]="{'bi-eye': input3 === 'password', 'bi-eye-fill': input3 === 'text'}"></i>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="isNotValidAndTouched('confirmNewPassword')" class="error-message text-danger">
    <p class="m-0" *ngIf="getCustomMessage('confirmNewPassword')!=null">{{getCustomMessage('confirmNewPassword')}}</p>
    <p class="m-0" *ngIf="getCustomMessage('confirmNewPassword')==null">{{emptyMessage}}</p>
  </div>
  <div *ngIf="wrong" class="bg-danger rounded p-2">Password wrong!</div>
  <div *ngIf="anotherProblem" class="bg-danger rounded px-2">Something Wrong!</div>
  <button id="confirm" [disabled]="!form.valid||loading" (click)="save()" class="bg-success text-white"><i class="bi bi-check-lg"></i></button>
</form>

