
<div [routerLink]="['/characters/noEdit',char.id]" *ngFor="let char of characters" class="border border-primary">
  <p>Name: {{char.name?char.name: 'None'}}</p>
  <p>Class: {{char.pgClass.length!=0?char.pgClass: 'None'}}</p>

  <div class="d-flex justify-content-between">
    <button class="btn btn-danger" (click)="deleteChar(char.id)">Delete</button>
    <a class="btn btn-warning" [routerLink]="['/characters/edit',char.id]">Edit</a>
  </div>
</div>
<div id="add-char" (click)="addChar()" class="rounded-circle bg-success text-white text-center">
  <i class="bi bi-plus-circle"></i>
</div>
